.fancy-button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 3px -2px 23px -15px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px -2px 23px -15px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px -2px 23px -15px rgba(0,0,0,0.75) inset;
}

.fancy-button:hover {
  background-color: darkblue;
}

.fancy-button:active {
  background-color: #002244;
}


/* Solid Buttons */
.button {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
}


/* Blue Buttons */
.button-blue {
  background-color: blue;
}

.button-blue:hover {
  background-color: darkblue;
}

.button-blue:active {
  background-color: blue;
}

/* Gray Buttons */
.button-gray {
  background-color: gray;
}

.button-gray:hover {
  background-color: dimgray;
}

.button-gray:active {
  background-color: gray;
}

/* Green Buttons */
.button-green {
  background-color: green;
}

.button-green:hover {
  background-color: darkgreen;
}

.button-green:active {
  background-color: green;
}

/* Red Buttons */
.button-red {
  background-color: red;
}

.button-red:hover {
  background-color: darkred;
}

.button-red:active {
  background-color: red;
}

/* Orange Buttons */
.button-orange {
  background-color: orange;
}

.button-orange:hover {
  background-color: yellow;
}

.button-orange:active {
  background-color: orange;
}

/* Cyan Buttons */
.button-cyan {
  background-color: darkcyan;
}

.button-cyan:hover {
  background-color: cyan;
}

.button-cyan:active {
  background-color: darkcyan;
}


/* Outline Buttonds */
.outline-button {
  background-color: white;
  border: 2px solid;
  padding: 3px 8px; 
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Blue Outline Button */
.outline-blue {
  color: blue;
  border-color: blue;
}

.outline-blue:hover {
  color: white;
  background-color: blue;
}

/* Gray Outline Button */
.outline-gray {
  color: gray;
  border-color: gray;
}

.outline-gray:hover {
  color: white;
  background-color: gray;
}

/* Green Outline Button */
.outline-green {
  color: green;
  border-color: green;
}

.outline-green:hover {
  color: white;
  background-color: green;
}

/* Red Outline Button */
.outline-red {
  color: red;
  border-color: red;
}

.outline-red:hover {
  color: white;
  background-color: red;
}

/* Orange Outline Button */
.outline-orange {
  color: orange;
  border-color: orange;
}

.outline-orange:hover {
  color: white;
  background-color: orange;
}

/* Cyan Outline Button */
.outline-cyan {
  color: darkcyan;
  border-color: darkcyan;
}

.outline-cyan:hover {
  color: white;
  background-color: darkcyan;
}
