<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/00_primary_button" target="_blank">Target</a>
</p>

<span class="fancy-button">Click me!</span>

<style>
  .fancy-button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 3px -7px 63px 1px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 3px -7px 63px 1px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 3px -7px 63px 1px rgba(0,0,0,0.75) inset;
  }
</style>
