<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/06_grid" target="_blank">Target</a>
</p>

<p>
  You can use <a href="https://getbootstrap.com/docs/5.3/components/alerts/" target="_blank">Alerts</a> for the colored boxes within each cell.
</p>


<div class="container text-center">

  <div class="row">
    <div class="col-md-12">
      full-width
    </div>
  </div>

  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-5">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
